.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: Arial;
    margin-top: 40px;
    font-size: 20PX;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    text-align: center;
    color: #000;
    font-size: 20PX;
    
  }

body{
    margin: 0px;
    background-color: #fff;

}
.USC{
    color: #000;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 40PX;
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: solid transparent;
  overflow: auto;
  height: 10%;
  position: fixed;
}

/* Navbar links */
.navbar a {
  float:right;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-top: 5px;
  margin-right: 2px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: solid transparent;
}

/* Current/active navbar link */
.active {
  background-color: rgb(18, 182, 246);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
